@font-face {
    font-family: 'TT Lakes-Thin';
    src: url('fonts/TTLakes/TTLakes-Thin.eot');
    src: url('fonts/TTLakes/TTLakes-Thin.woff') format('woff'),
    url('fonts/TTLakes/TTLakes-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes-Regular';
    src: url('fonts/TTLakes/TTLakes-Regular.eot');
    src: url('fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
    url('fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes-Bold';
    src: url('fonts/TTLakes/TTLakes-Bold.eot');
    src: url('fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
    url('fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0 auto;
    width: 320px;
}

h1, h2, p{
    margin: 0;
}

.header{
    height: 88px;
    display: flex;
    padding: 0 16px;
    align-items: center;
}

.header__icon{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF3E79;
    display: flex;
    justify-content: center;
}

.header__img{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.divider{
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
    align-self: center;
}

.divider__tablet{
    display: none;
}

.header__tools{
    display: flex;
    margin-left: auto;
}

.repair{
    margin-left: 20px;
    margin-right: 16px;
}

.logo{
    margin: 0 16.73px;
}

.phone, .message, .contact, .header__title-desktop{
    display: none;
}

/* main */

.main{
    background-color: #F8F8F8;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 32px;
}

.title{
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.main__divider{
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.title h1{

    margin-left: 12px;
    font-family: 'TT Lakes-Bold';
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

.main__menu{
    display: flex;
    overflow-x: scroll;
    margin: 24px 0 24px 16px;
}

.button{
    height: 40px;
    white-space: nowrap;
    background-color: unset;
    border: none;
    cursor: pointer;
    font-family: 'TT Lakes-Thin';
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.53px;
    color: #7E7E82;
    padding: 8px 9.3px 8px 16.54px;
}

.button__active{
    background-color: #ffffff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.block__text{
    width: 288px;
    margin-left: 16px;
    font-family: 'TT Lakes-Regular';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #1B1C21;
}

.further{
    background-image: url("img/expand.svg");
    background-repeat: no-repeat;
    font-family: 'TT Lakes-Regular';
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    width: 132px;
    padding-left: 32px;
    margin: 16px 0 16px 16px;
}

.block__text-tablet, .button__desktop, .block__text-desktop{
    display: none;
}

@media screen and (min-width: 319px) and (max-width: 767px){
    body{
        width: 320px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1119px){
    body{
        width: 768px;
    }

    .header{
        padding-left: 24px;
        padding-right: 24px;
    }

    .phone, .message, .contact{
        display: flex;
    }

    .message{
        margin: 0 16px;
    }

    .contact{
        margin-right: 20px;
    }

    .logo{
        margin: 0;
    }

    .divider__tablet{
        display: block;
        margin: 0 20px;
    }

    .main{
        padding-bottom: 0;
    }

    .main__menu{
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .block{
        margin: 0 24px 40px 24px;
        width: 720px;
        display: flex;
        justify-content: space-between;
    }

    .block__text{
        margin: 0;
    }

    .block__text-tablet{
        display: block;
        margin-top: 16px;
    }

    .block__img{
        width: 360px;
        border-radius: 6px;
    }
}

@media screen and (min-width: 1119px){
    body{
        width: 1120px;
        background-color: #F8F8F8;
    }

    .header{
        position: absolute;
        top: 42px;
        left: 715px;
        padding: 0;
        height: auto;
    }

    .menu, .logo, .divider{
        display: none;
    }

    .header__title-desktop{
        display: block;
        align-self: center;
        font-family: 'TT Lakes-Regular';
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }

    .repair{
        margin-left: 8px;
        margin-right: 32px;
    }

    .check-status{
        margin-left: 9px;
        margin-right: 32px;
    }

    .main{
        margin-top: 42px;
    }

    .title{
        margin: 0;
    }

    .title h1{
        margin-left: 32px;
    }

    .main__menu{
        overflow: visible;
        flex-wrap: wrap;
        margin-left: 32px;
    }

    .button__desktop{
        display: block;
    }

    .button__desktop:nth-child(1){
        background-color: #ffffff;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    .button__desktop-off{
        display: none;
    }

    .button__active{
        background-color: unset;
        border: none;
        border-radius: 0;
    }

    .block{
        width: 1120px;
        margin: 0 24px 40px 24px;
        display: flex;
        justify-content: space-between;
    }

    .block__text{
        width: 490px;
    }

    .block__text-tablet{
        display: block;
        margin-top: 34px;
    }

    .block__text-desktop{
        display: inline;
    }
    .block__img{
        margin-top: -11px;
        width: 531px;
        border-radius: 6px;
    }
}